/*
 Theme Name:   RetryGames
 Description:  bootScore 5 Shop Child Theme
 Author:       Richard MarkoviÄ
 Author URI:   https://retrygames.sk/
 Template:     bootscore-5
 Version:      0.0.0.1
 Text Domain:  retrygames
*/

/*REGULAR html SECTION*/
a {
	color: #650c7e;

	text-decoration: underline;
}

a:hover {
	color: #f4a13a;
}



/*HEADER SECTION*/
.logo.md {
	/*top: 5px;*/
}
.woocommerce-loop-category__title {
	padding: .5em 0;
	margin: 0;
	font-size: 1em;
	background: #f8f9fa;
	border-radius: 0 0 .25rem 0.25rem;
	text-align: center;
}

.woocommerce ul.products li.product a img {
	margin: 0;
	border-radius: 0.25rem 0.25rem 0 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #650c7e;
}
.bg-purpl {
	background-color: #650B7F !important;
}

.btn-outline-secondary,
.navbar-light .navbar-nav .nav-link {
	color: rgb(255 255 255);
}

.btn-outline-secondary {
	border-color: rgb(255 255 255);
}

.navbar {
	padding: 0;
	margin: 0;
	height: 79px;
	border-bottom: 4px solid white;
}

/*BTN SECTION*/
.btn-primary {
	color: #fff;
	background-color: #650c7e;
	border-color: #3a0748;
}

.btn-primary:hover {
	background-color: #f4a13a;
	border-color: #f7bf33;
}
.btn-outline-primary {
	color: #650c7e;
	border-color: #650c7e;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #650c7e;
	border-color: #3a0748;
}

mark.count {
	background-color: #f4a13a;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	position: absolute;
	border-radius: .25rem;
	top: 0px;
	right: 0px;
}
.bg-danger {
	background-color: #f4a13a!important;
}

.bg-secondary {
	background-color: #f4a13a!important;
}

.tag-cloud-link {
	display: inline-block;
	padding: .35em .65em;
	font-size: .75em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	margin: 1px;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	background-color: #650B7F !important;
	text-decoration: none;
}


.entry-content{
	line-height: 1.4;
	font-size: 20px;
	margin: 0 auto;
	max-width: 585px;
}

.term-description,
.page-title,
.woocommerce-result-count {
	color: white;
}

.product-box {
	background: #f8f9fa!important;
	display: block;
	border-radius: .25rem;
}
.border-top {
	border-top: 4px solid white!important;
}



/*
    HTML VIDEO AS BACKGROUND:
    I updated code from Dudley Storey
*/


section.slider > .flexslider {
	border: none;
	margin: 0;
	margin-top: 55px;
}

.video-row {
	height: 750px;
}
.video-row {
	position: relative;
	display: block;
}
.video-background {
	background: #000;
	/*position: fixed;*/
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -99;
}
.video-foreground,
.video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
	.video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	.video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
	.vid-info { width: 50%; padding: .5rem; }
	.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
	.vid-info .acronym { display: none; }
}



.slider-details-container {
	color: #FFF;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 800px;
}
.slider-details-container .slider-title {
	color: #FFF;
	font-weight: 700;
}
.slider-details-container h1 {
	font-size: 3.7rem;
}
.slider-details-container .subtitle {
	font-size: 1.3em;
	margin-bottom: 15px;
}
.slider-details-container a {
	background-color: #650B7F;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 0.8em;
	display: inline-block;
	font-size: 1.2em;
}
section.lab-blog{
	background: white;
}
section.popular-products {
	background: #f7f7f7;
}
section.new-arrivals {
	background: white;
}
.deal-of-the-week {
	background: #f7f7f7;
	padding: 60px 0;
}
section.popular-products.pt-4 .woocommerce ul.products {
	margin: 0;
}
